<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Page</title>
    <link rel="stylesheet" href="../static/styles/client_page.css">
    
</head>
<body style="background-image: url('../static/styles/lbg.webp');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;">
  <div class="navbar">
    <div class="user-info-container">
        <h5>Client ID: <span id="client-id-display"></span></h5> 
        <h5>Full Name: <span id="client-full-name"></span></h5>
        <h5>Email: <span id="client-email"></span></h5>
        <h5>Mobile No: <span id="client-mobile"></span></h5>
    </div>
    <div class="back-btn-container">
      <button class="back-btn" onclick="goBack()">Back</button>
    </div>
</div>




    <div class="btn-container">
        <!-- <img src="styles/logo.jfif" alt="Company Logo" class="company-logo"> -->
        
        
        <button id="ipo-page-button" class="btn" onclick="openPage('wallet.html')">wallet</button>
       
        <button id="ipo-page-button" class="btn" onclick="openPage('ipo.html')">IPO</button>
     
        <button class="btn" onclick="openPage('SSO.html')">SSO</button></a>
       
        <button class="btn" onclick="openPage('mf_protfolio.html')">Mutual Funds</button></a>
       
        <button class="btn" onclick="openPage('equity.html')">Equity Transactions</button>
        
        <button class="btn" onclick="openPage('derivative.html')">Derivative Transactions</button>
        
        <button class="btn" onclick="openPage('panic.html')">Panic API Data</button>
       
        <button class="btn" onclick="openPage('profile.html')" >My Profile</button>
       
        <button class="btn" onclick="openPage('COB.html')">COB</button>
       
    </div>
    <script src="../static/scripts/client_page.js">    </script>
    <a href="login.html"><button class="lo_btn">Logout</button></a>
   
</body>
</html>
