<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equity Dashboard</title>
    <link rel="stylesheet" href="../static/styles/equity_styles.css">
</head>

<body  style="background-image: url('../static/styles/lbg.webp'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center;">

    <div class="navbar">
        <div class="user-info-container">
            <h5>Client ID: <span id="client-id-display"></span></h5> 
            <h5>Full Name: <span id="client-full-name"></span></h5>
            <h5>Email: <span id="client-email"></span></h5>
            <h5>Mobile No: <span id="client-mobile"></span></h5>
        </div>
        <div class="back-btn-container">
          <button class="back-btn" onclick="goBack()">Back</button>
        </div>
    </div>



    <!-- Holding Tab Content -->
    <div id="holdings" class="tab">
        
        <div id="holding-summary" class="summary-card"></div>

       
        <table id="holding-list" class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Exchange</th>
                    <th>Quantity</th>
                    <th>Avg. Price</th>
                    <th>LTP</th>
                    <th>Current Value</th>
                    <th>Day PnL</th>
                    <th>Overall PnL</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <a href="login.html"><button class="lo_btn">Logout</button></a>

    <!-- Script Section -->
    <script src="../static/scripts/equity.js">
    </script>
    
</body>

</html>