<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPO Table</title>
    <link rel="stylesheet" href="../static/styles/ipo.css">
</head>
<body style="background-image: url('../static/styles/lbg.webp'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center;">
    <div class="navbar">
    <button class="back-btn" onclick="goBack()">Back</button>
    </div>

    <div class="navbar">
        <div class="user-info-container">
            <h5>Client ID: <span id="client-id-display"></span></h5> 
            <h5>Full Name: <span id="client-full-name"></span></h5>
            <h5>Email: <span id="client-email"></span></h5>
            <h5>Mobile No: <span id="client-mobile"></span></h5>
        </div>
        <div class="back-btn-container">
          <button class="back-btn" onclick="goBack()">Back</button>
        </div>
    </div>

    <div class="loader-container">
        <div class="loader"></div>
        <p class="loading-text">Loading...</p>
    </div>
    
    <input type="text" id="searchInput" placeholder="Search IPO" oninput="filterIpoTable()" >

    <div class="no-ipos-message" >This user has no IPOs.</div>
    
    <div class="table-container" > <!-- Hidden initially -->
       

        <table id="ipo-table"> <!-- Hidden initially -->
            <thead>
                <tr>
                    <th>IPO name</th>
                    <th>Apply date</th>
                    <th>Mandate sent date</th>
                    <th>Share Per Lot</th>
                    <th>Lot applied</th>
                    <th>Allotment Status</th>
                    <th>Allotted Shares</th>

                </tr>
            </thead>
            <tbody>
              <!-- dynamic additions of rows -->
            </tbody>
        </table>

        <div id="pagination"></div>
    </div>

    <script src="../static/scripts/IPO.js"></script>
    <a href="login.html"><button class="lo_btn">Logout</button></a>
   
</body>
</html>
