<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MF Protfolio</title>
    <link rel="stylesheet" href="../static/styles/mf_protfolio.css">
</head>
<body style="background-image: url('../static/styles/lbg.webp'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center;">
    <div class="navbar">
   <button class="back-btn" onclick="goBack()">Back</button>

   <h3 class="crnt_amnt_value_h"> <span id="crnt_amnt_value"></span></h3>
   <h3 class="prchs_amnt_value_h"> <span id="prchs_amnt_value"></span></h3>
   <h3 class="xirr_value_h"> <span id="xirr_value"></span></h3>

   </div>
   
   <div class="loader-container">
    <div class="loader"></div>
    <p class="loading-text">Loading...</p>
    </div>


    <div class="no-ipos-message" style="display: none;">This user has no MF data.</div>
    <!-- <div class="loader"></div> -->
    <div class="table-container">


        <table id="wallet-table">
            <thead>
                <tr>
                    <th>Scheme Name</th>
                    <th>Asset</th>
                    <th>Current Amount</th>
                    <th>Purchased Amount</th>
                    <th>Units</th>
                    <th>foilio No.</th>
                    <th>NAV</th>
                    <th>Online</th>
                </tr>
            </thead>
            <tbody>
              <!-- dynamic additions of rows -->
            </tbody>
        </table>
    </div>

    <script src="../static/scripts/mf_portfolio.js"></script>
    <a href="login.html"><button class="lo_btn">Logout</button></a>
   

</body>
</html> 