<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Bank Accounts</title>
    <link rel="stylesheet" href="../static/styles/profile.css">
</head>

<body
    style="background-image: url('../static/styles/lbg.webp');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;">

    <div class="navbar">
        <div class="user-info-container">
            <h5>Client ID: <span id="client-id-display"></span></h5> 
            <h5>Full Name: <span id="client-full-name"></span></h5>
            <h5>Email: <span id="client-email"></span></h5>
            <h5>Mobile No: <span id="client-mobile"></span></h5>
        </div>
        <div class="back-btn-container">
          <button class="back-btn" onclick="goBack()">Back</button>
        </div>
    </div>



    
    <div id="loader" class="loader-container">
        <div class="loader"></div>
        <div class="loader-text">Loading...</div>
    </div>
    
    <br>
    <br>
    <br>

    <div id="userInfo"></div>
 

    <!-- Button container -->
    <div class="button-container">
        <button id="bankBtn" class="tab-btn active" onclick="showSection('bank')">Bank Accounts</button>
        <button id="nomineeBtn" class="tab-btn" onclick="showSection('nominee')">Nominees</button>
        <button id="segmentBtn" class="tab-btn" onclick="showSection('segment')">Segments</button>
        <button id="dematBtn" class="tab-btn" onclick="showSection('demat')">Demat Accounts</button>
    </div>
    
    <!-- Bank Accounts section -->
    <h1 id="bankHeading"></h1>
    <div id="bankCards" class="bank-cards-container"></div>
    
    <!-- Nominees section -->
    <h1 id="nomineeHeading" style="display: none;"></h1>
    <div id="nomineeCards" class="nominee-cards-container" style="display: none;"></div>
    
    <!-- Segments section -->
    <h1 id="segmentHeading" style="display: none;"></h1>
    <div id="segmentCards" class="segment-cards-container" style="display: none;"></div>
    
    <!-- Demat Accounts section -->
    <h1 id="dematHeading" style="display: none;"></h1>
    <div id="dematCards" class="demat-cards-container" style="display: none;"></div>
    

    <script src="../static/scripts/profile.js"></script>
    <a href="login.html"><button class="lo_btn">Logout</button></a>

</body>

</html>