<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Bank Accounts</title>
    <link rel="stylesheet" href="../static/styles/profile.css">
</head>
<body style="background-image: url('../static/styles/lbg.webp');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;">

    <div class="navbar">

        <div class="navbar-title">Add User Panel</div>
        <button class="back-btn" onclick="goBack()">Back</button>
        
    </div><br><br><br><br>
    <div class="container">
        <div id="userInfo"></div> 
        <h1>Bank Accounts</h1>
        <div id="bankCards"></div>
    </div>

    <script src="../static/scripts/profile.js"></script>
    <a href="login.html"><button class="lo_btn">Logout</button></a>
    
</body>
</html>
