<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Bank Accounts</title>
    <link rel="stylesheet" href="../static/styles/profile.css">
</head>

<body
    style="background-image: url('../static/styles/lbg.webp');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;">

    <div class="navbar">

        <div class="navbar-title"></div>
        <button class="back-btn" onclick="goBack()">Back</button>
    </div>
    <br>
    <br>
    <br>

    <div id="userInfo"></div>
    <h2>Bank Accounts</h2>
    <div id="bankCards" class="bank-cards-container"></div>

    <h2>Nominees</h2>
    <div id="nomineeCards" class="nominee-cards-container"></div>

    <h2>Segments</h2>
    <div id="segmentCards" class="segment-cards-container"></div>

    <h2>Demat Accounts</h2>
    <div id="dematCards" class="demat-cards-container"></div>



    <script src="../static/scripts/profile.js"></script>
    <a href="login.html"><button class="lo_btn">Logout</button></a>

</body>

</html>