/* General body styles for all pages */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #f5f5f5;
}

/* Navbar style for fixed position at the top */
.navbar {
  width: 100%;
  background-color: rgba(12, 8, 8, 0.833);
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

.table-container {
  position:absolute;
  top: 0px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  background-color: #ccc;
}

table {
  width: 100%; /* Table covers the entire page width */
  border-collapse: collapse; /* Remove extra space between borders */
  margin-top: 50px;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd; /* Add border to all cells */
}

th {
  background-color: #007BFF;
  color: white;
  text-transform: uppercase;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  font-size: 1rem;
}

.client-id {
font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
}

@media (max-width: 768px) {
  th, td {
      font-size: 0.9rem;
  }
}



/*logout button*/
.lo_btn{
position: fixed;
bottom: 3px;
right: 40px;
background-color: #6f42c1;
padding: 8px 10px;
border: none;
border-radius: 5px;
color: white;
cursor: pointer;
z-index:2000;

}

.lo_btn:hover{
background-color: #5a3397;
}

.footer {
width: 100%;
background-color: rgba(12, 8, 8, 0.833);
color: white;
padding: 20px;
position: fixed; /* Fixes the footer to the bottom */
bottom: 0px; /* Positions it at the bottom */
left: 0; /* Aligns it to the left */
text-align: center;
font-size: 10px;
font-weight: bold;
z-index: 10;
}
.loader {
width: 80px;
height: 80px;
padding: 8px;
position: absolute;
aspect-ratio: 1;
border-radius: 100%;
background: #25b09b;
--_m: 
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
-webkit-mask: var(--_m);
        mask: var(--_m);
-webkit-mask-composite: source-out;
        mask-composite: subtract;
animation: l3 1s infinite linear;
}

@keyframes l3 {
to {
    transform: rotate(1turn);
}
}



/* #wallet-table{
display: none;
} */


.back-btn{
  position: fixed;
  top: 10px;
  left: 40px;
  background-color: #6f42c1;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  z-index:2000;
}

.back-btn{
  position: fixed;
  top: 5px;
  left: 40px;
  background-color: #6f42c1;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  z-index:2000;
}